


<div class="container">

<h1>Stupido Coachingo</h1>

<%= params[:questions] %>

<%= @answer %>

<h2>Ask the coach something else</h2
>

<%=link_to "Ask!!!", ask_path, class:"btn btn-primary"%>

</div>