


<div class="container">
<h1>Ask the coach!</h1>
<form class="input-group" action="answer">
  <input class="form-control" type="text" name="question">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
</div>