// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: aqua;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
  color: red;
}

h2{
  color: red;
}

.container {
  max-width: 500px;
  padding-top: 100px;
  text-align: center;
}

// #button{
//   background-color: ;
// }